<div class="app-root" ng-init="onload()">
		<div class="row table-row">
			<div class="col-md-3 table-cell v-align app-left-side">
				<div class="header">
					<div class="left">
						<img src="https://image.flaticon.com/icons/svg/145/145852.svg" class="img-circle" >
					</div>
					<div class="name">
						<h3>{{loggedInUser}}</h3>
					</div>

				</div>
				<div class="search">
					<div class="input-group">
						<input type="text" name="chat_search" id="chat_search" class="form-control" style="border-left: 1px solid #d8d4d4eb;
						border-top: 1px solid #d8d4d4eb;     background-color: white;
						height: 28px;">
						<span class="input-group-addon srch" style="border-right: none; border-left:2px solid #d8d4d4eb;"><span class="fa fa-search"></span></span>
					</div>
				</div>

				<div class="userlist clearfix">
					<div ng-repeat="x in users" class="header clearfix" ng-click = "selectedSender(x)" >
						<div class="name">
							<h3>{{x.userName}}</h3>
						</div>
					</div>
				<!-- 	<div class="header clearfix">
						<div class="name">
							<h3>Swati Minz</h3>
						</div>
					</div>
					<div class="header clearfix">
						<div class="name">
							<h3>Swati Minz</h3>
						</div>
					</div>
					<div class="header clearfix">
						<div class="name">
							<h3>Swati Minz</h3>
						</div>
					</div>
					<div class="header clearfix">
						<div class="name">
							<h3>Swati Minz</h3>
						</div>
					</div>
					<div class="header clearfix">
						<div class="name">
							<h3>Swati Minz</h3>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-md-9 table-cell v-align main-content">
				<div class="content-header">
					<nav class="app-nav navapp">
			            <div class="container">
			            	<div class="navbar-left">
			            		<span class="uname" style="font-size: 22px;display: block;">{{selectedReciver}}</span>
			            	</div>			                
			            </div>
			        </nav>
				</div>
				<div>
					<div class="expert-sec" style="padding-top: 20px;height: 100%;overflow-y: auto">
		                <div class="container">
		                    <p class="app-text-color"></p> 
		                    <!--Chat Content Area-->
		                    <div class="expert-type chat-message" id="get_chat_content">
		                       <div class="chat">
		                          <div class="chat-content" id="chat_history">
		                          <span  ng-repeat="x in ChatData">
		                          		<span ng-if="x.msgOwner == loggedInUserId" class="friend last">
		                          			<span class="fabc">
		                          				{{x.msgContent}}
												<!-- <span class="time">{{x.dateTime}}</span> -->
		                          			</span>
										</span>
										<span ng-if="x.msgOwner != loggedInUserId" class="you last">
											<span class="yabc">
		                          				{{x.msgContent}}
												<!-- <span class="time">{{x.dateTime}}</span> -->
		                          			</span>
										</span>
									</span>
		                          </div>
		                       </div>
		                    </div>
		                     <!--Message Box-->
				            <div class="msg-box">
				              <input ng-model = "msgContent" type="text" class="ip-msg" id="ip_msg" placeholder="Type something..." />
				              <span  class="btn-group">
				                <i class="fa fa-paper-plane" ng-click="sendMsg()" id="send_msg"></i>				               
				              </span>
				            </div>
		                </div>
            		</div>
				</div>
			</div>
		</div>
	</div>